.large {
  font-size: 3rem;
  line-height: 1.2rem;
  margin-bottom: 1rem;
}
.space {
  margin-bottom: 3rem;
}
._regist-wrapper {
  padding-top: 1rem;
}

.text-primary {
  color:  #03a9f4
}

.form-group {
  margin: 1.2rem 0;
}

.form-text {
  display: block;
  margin-top: 0.3rem;
  color: #888;
}

.form input[type="text"] ,
.form input[type="email"] ,
.form input[type="password"] ,
.form input[type="date"] ,
.form select ,
.form textarea
{
 display: block;
 width: 100%;
 padding: 0.4rem;
 font-size:1.2rem;
 border: 1px solid #ccc;
}

.login-link {
  color:#03a9f4 !important;
}

.my-1 {
  margin: 1rem 0;
}

/* Login  css*/
.alert {
  padding: 0.8rem;
  margin: 1rem;
  opacity: 0.9;
  color: #333;
  background-color: #f4f4f4;
}
.alert-primary {
  background-color: #03a9f4
}
.alert-dark {
  background-color: #343a40
}
.alert-success {
  background-color: #28a745;
}
.alert-danger{
  background-color: #dc3545;
  color: white;
}
